<nav class="nav">
    <div class="left">
        <div class="logo">Funai library</div>
    </div>
    <div class="right">
        <div class="menu-btn" title="menu button"><span class="material-symbols-outlined">
            menu
            </span></div>
        <div class="list">
            <ul>
                <li><a href="/user/user-dashboard">Dashboard</a></li>
                <li><a href="/user/browse-books">Browse Books</a></li>
                <li><a href="/user/borrow-record">Borrow History</a></li>
                <!-- <li><a href="#">Current Borrowed Books</a></li> -->
                <li><a href="/user/borrow-requests">Borrow Request(s)</a></li>
                <li><a href="#">My Account</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>