<nav class="nav">
    <div class="left">
        <div class="logo"><a href="/admin">Funai library</a></div>
    </div>
    <div class="right">
        <div class="menu-btn" title="menu button">=</div>
        <div class="list">
            <ul>
                <li><a href="/admin">DashBoard</a></li>
                <li><a href="/admin/manage-books">Manage Books</a></li>
                <li><a href="/admin/manage-users">Manage Users</a></li>
                <li><a href="/admin/borrowed-books">Borrowing Records</a></li>
                <li><a href="/admin/borrow-requests">Requests</a></li>
                <li class="pop-admin">Create New Admin</li>
                <li class="add-book">Add book</li>
                <li><a href="/adminAuth/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>